<html>
<head>
<title><%=OldSql.report_select_page_title%></title>
<%= stylesheet_link_tag "old_sql/old_sql.css" %>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<%= javascript_include_tag "old_sql/chart.js" %>
</head>
<body>
	<%= yield %>
</body>
</html>