# Old SQL Reports YAML
# This is an example report. Replace it with your actual reports.
#
# 'processor:' is optional, and should point to a class in lib/old_sql.
# See lib/old_sql/user_processor.rb for an example.

user:
  name: user
  value: User
  report_sql: user_old_sql_demo
  virality: false
  report_design: user_old_sql_demo
  #report_processor: User_Old_Sql_Demo_Processor
  fields: 
    - 'id'
    - 'name'