/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

body{
  background:#fff url(../../images/rails_admin/background.png) repeat-x;
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
}

#title {
  font-size:16px;
  font-weight:bold;
  padding:3px;
}

#report_list {
	padding-top:10px;
}

#cohort-date-div {
	padding-top: 15px;
	padding-bottom: 25px;
	display:inline-block;
}

#report-form {
	float: left;
	width:400px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#links {
	float: left;
	padding-left: 150px;
	padding-top: 20px;
}

#links a {
	padding-bottom:8px;
	display:block;
	text-decoration: none;
    color:#215086;
    font-weight:bold;
}

.report-form-row {
	padding-bottom: 10px;
}

.report-form-label {
	text-align: right;
	margin-right:10px;
	display:inline-block;
	width: 200px;
}

.report-form-input {
	display:inline-block;
}

#cohort-label {
	text-align: right;
	margin-right:10px;
	display:inline-block;
	font-weight: bold;
	width: 150px;
}

#cohort-date {
	display:inline-block;
}

#data_grid {
	padding-top:10px;
}

#data_grid_frame {
	
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }