/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

body{
  font-family:Verdana, Geneva, sans-serif;
  font-size:12px;
}

#old-sql {
	width:100%;
	text-align:center;
}

#report-form {
	float: left;
	width:400px;
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
    color:#215086;
    font-weight:bold;
}

#links {
	float: left;
	padding-left: 150px;
	padding-top: 20px;
}

#links a {
	padding-bottom:8px;
	display:block;
	text-decoration: none;
    color:#215086;
    font-weight:bold;
}

.report-form-row {
	padding-bottom: 10px;
}

.report-form-label {
	text-align: right;
	margin-right:10px;
	display:inline-block;
	width: 200px;
}

.report-form-input {
	display:inline-block;
}

#data_grid {
	padding-top:10px;
}

.query {
	width:900;
	float:left;
}

.query div {
	padding-top:10px;
}

#query-text {
	font-size:12pt;
}

#saved_queries div {
	padding-top:10px;
}

#saved_queries {
	float:left;
	padding-top:7px;
}

#saved-queries-list {
	width:500;
}