<script>
jQuery(document).ready(function($){
	$('#query-button').bind('click', function() {
      	query();
    });

	$('#delete-saved-queries').bind('click', function() {
      	deleted_saved_queries();
    });

	$('#saved-queries-list').bind('click', function() {
		$('#query-text').val($("#saved-queries-list option:selected").val()); 
    });
});
</script>

<div class="query">
	<div>
		DATABASE: 
		<select name="query-db" id="query-db" onchange="db_selected()">
		<% db_list.each do |db| %>
			<option value="<%=db[:name]%>" class_name="<%=db[:class_name]%>"><%=db[:name]%></option>
		<% end %>
		</select>
	</div>

	<div>
		<textarea id="query-text" rows="12" cols="120"></textarea>
	</div>

	<div>
		<input id="query-button" type="button" value="Run" onclick="return true;" /> or press ctrl-enter
	</div>
</div>                        

<div id="saved_queries">
	<div>
		SAVED QUERIES:
	</div>
	
	<div>
		<select id="saved-queries-list" size="14">
		</select>
	</div>
	
	<div>
		<input id="delete-saved-queries" type="button" value="Clear" onclick="return true;" />
	</div>
</div>