<div class="query">
	<div>
		DATABASE: 
		<select name="query-db" id="query-db" onchange="db_selected()">
		<% db_list.each do |db| %>
			<option value="<%=db[:name]%>" db_class="<%=db[:db_class]%>"><%=db[:name]%></option>
		<% end %>
		</select>
	</div>

	<div>
		<textarea id="query-text"></textarea>
	</div>

	<div>
		<span class="query-button">
			<input id="run-query" type="submit" value="Run" onclick="return true;" /> or press ctrl-enter
		</span>
		
		<span class="query-button">
			<input id="print-query" type="submit" value="Print" onclick="return true;" />
		</span>
		
		<span class="query-button">
			<input id="export-query-as-csv" type="submit" value="Export to CSV" onclick="return true;" />
		</span>
	</div>
</div>                        

<div id="saved_queries">
	<div>
		SAVED QUERIES:
	</div>
	
	<div>
		<select id="saved-queries-list" size="14">
		</select>
	</div>
	
	<div>
		<span class="query-button">
			<input id="delete-saved-query" type="submit" value="Delete" onclick="return true;" />
		</span>
		
		<span class="query-button">
			<input id="delete-saved-queries" type="submit" value="Remove All" onclick="return true;" />
		</span>
	</div>
</div>